DiretoriaEscolar.WebForms/Connected Services/EscolaService/EscolaAppService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="EscolaAppService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50160/EscolaAppService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50160/EscolaAppService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50160/EscolaAppService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DiretoriaEscolar.Domain.Entities" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEscolaAppService_Add_InputMessage">
    <wsdl:part name="parameters" element="tns:Add" />
  </wsdl:message>
  <wsdl:message name="IEscolaAppService_Add_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddResponse" />
  </wsdl:message>
  <wsdl:message name="IEscolaAppService_GetById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetById" />
  </wsdl:message>
  <wsdl:message name="IEscolaAppService_GetById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IEscolaAppService_GetAll_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAll" />
  </wsdl:message>
  <wsdl:message name="IEscolaAppService_GetAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllResponse" />
  </wsdl:message>
  <wsdl:message name="IEscolaAppService_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="IEscolaAppService_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IEscolaAppService_Remove_InputMessage">
    <wsdl:part name="parameters" element="tns:Remove" />
  </wsdl:message>
  <wsdl:message name="IEscolaAppService_Remove_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveResponse" />
  </wsdl:message>
  <wsdl:message name="IEscolaAppService_Dispose_InputMessage">
    <wsdl:part name="parameters" element="tns:Dispose" />
  </wsdl:message>
  <wsdl:message name="IEscolaAppService_Dispose_OutputMessage">
    <wsdl:part name="parameters" element="tns:DisposeResponse" />
  </wsdl:message>
  <wsdl:portType name="IEscolaAppService">
    <wsdl:operation name="Add">
      <wsdl:input wsaw:Action="http://tempuri.org/IEscolaAppService/Add" message="tns:IEscolaAppService_Add_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEscolaAppService/AddResponse" message="tns:IEscolaAppService_Add_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetById">
      <wsdl:input wsaw:Action="http://tempuri.org/IEscolaAppService/GetById" message="tns:IEscolaAppService_GetById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEscolaAppService/GetByIdResponse" message="tns:IEscolaAppService_GetById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IEscolaAppService/GetAll" message="tns:IEscolaAppService_GetAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEscolaAppService/GetAllResponse" message="tns:IEscolaAppService_GetAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input wsaw:Action="http://tempuri.org/IEscolaAppService/Update" message="tns:IEscolaAppService_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEscolaAppService/UpdateResponse" message="tns:IEscolaAppService_Update_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Remove">
      <wsdl:input wsaw:Action="http://tempuri.org/IEscolaAppService/Remove" message="tns:IEscolaAppService_Remove_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEscolaAppService/RemoveResponse" message="tns:IEscolaAppService_Remove_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Dispose">
      <wsdl:input wsaw:Action="http://tempuri.org/IEscolaAppService/Dispose" message="tns:IEscolaAppService_Dispose_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEscolaAppService/DisposeResponse" message="tns:IEscolaAppService_Dispose_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IEscolaAppService" type="tns:IEscolaAppService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Add">
      <soap:operation soapAction="http://tempuri.org/IEscolaAppService/Add" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetById">
      <soap:operation soapAction="http://tempuri.org/IEscolaAppService/GetById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAll">
      <soap:operation soapAction="http://tempuri.org/IEscolaAppService/GetAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/IEscolaAppService/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Remove">
      <soap:operation soapAction="http://tempuri.org/IEscolaAppService/Remove" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Dispose">
      <soap:operation soapAction="http://tempuri.org/IEscolaAppService/Dispose" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EscolaAppService">
    <wsdl:port name="BasicHttpBinding_IEscolaAppService" binding="tns:BasicHttpBinding_IEscolaAppService">
      <soap:address location="http://localhost:50160/EscolaAppService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>